#header-container {
    background-image: url('../assets/backgrounds/msmarvel-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #b31229;
}