#header-container {
    background-image: url('../assets/backgrounds/thanos-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #2e2c25 solid 3px;
}

main {
    display: grid;
    grid-template-columns: 40% 1fr;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    letter-spacing: 3px;
}

button {
    border: 2px solid #2e2c25;
    color: #ffffff;
    background-color: #2e2c25;
    height: 30px;
    font-size: 14px;
    padding: 0 10px 2px 10px;
    outline: none;
    transition: 0.1s all linear;
}

button:active {
    background-color: #7f7f7f;
    border: 2px solid #7f7f7f;
    transition: 0.1s all linear;
}

#comic-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image img {
    height: 500px;
}

#back-to-search {
    display: flex;
    justify-content: flex-start;
}

#something-appropriate {
    display: flex;
    justify-content: space-between
}

#icon-container {
    margin-right: 40px;
}

#title-container {
    display: flex;
    align-items: center;
}

#comic-info-container {
    display: grid;
    grid-template-rows: 25px 45px ;
}

#people {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#all-characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#description-container p {
    margin-right: 40px; 
}

#something-something {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
