#header-container {
    background-image: url('../assets/backgrounds/thanos-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #2e2c25 solid 3px;
}

main {
    min-height: calc(100vh - 140px);
    display: grid;
    grid-template-columns: 40% 1fr;
}

h2 {
    letter-spacing: 3px;
}

#comic-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image img {
    height: 400px;
}

#comic-info-container {
    display: grid;
    grid-template-rows: 25px 45px 65px;
}

#title-icon {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#title-container {
    display: flex;
    align-items: flex-start;
}

h1 {
    letter-spacing: 3px;
    font-size: 1.8em;
}

#icon-container {
    display: flex;
    align-items: flex-start;
}

#series-price {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#description-container {
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}

#description-container p {
    margin-right: 40px; 
}

#people {
    display: flex;
    flex-grow: 1;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#all-characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#back-to-search {
    grid-row-start: 6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

button {
    border: 2px solid #2e2c25;
    color: #ffffff;
    background-color: #2e2c25;
    height: 30px;
    font-size: 14px;
    padding: 0 10px 2px 10px;
    outline: none;
    transition: 0.1s all linear;
}

button:active {
    background-color: #7f7f7f;
    border: 2px solid #7f7f7f;
    transition: 0.1s all linear;
}

footer {
    margin: 10px;
}
