body {
    min-height: 100vh;
    background-image: url('../assets/backgrounds/spiderman-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: grid;
    grid-template-columns: 40% 1fr;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    letter-spacing: 3px;
}

#comic-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-image img {
    height: 500px;
}

#back-to-search {
    display: flex;
    justify-content: flex-start;
}

#something-appropriate {
    display: flex;
    justify-content: space-between
}

#icon-container {
    margin-right: 40px;
}

#title-container {
    display: flex;
    align-items: center;
}

#comic-info-container {
    display: grid;
    grid-template-rows: 25px 45px ;
}

#people {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#all-characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#description-container p {
    margin-right: 40px; 
}

#something-something {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer {
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 0 0 10px 0;
}