body {
    background-image: url('../assets/backgrounds/storm-bg-blue.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #ffffff;
}

#content-container-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#search-form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

#search-term-index {
    width: 580px;
    height: 40px;
    color: #2e2c25;
    font-size: 16px;
    outline: none;
    padding: 20px;
    border-top: 2px solid #2e2c25;
    border-left: 2px solid #2e2c25;
    border-bottom: 2px solid #2e2c25;
    border-right: none;
    border-radius: 20px 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s all linear;
}

#search-term-index:focus {
    border-top: 2px solid #7f7f7f;
    border-left: 2px solid #7f7f7f;
    border-bottom: 2px solid #7f7f7f;
    transition: 0.2s all linear;
}

#search-button-index {
    width: 80px;
    height: 44px;
    font-size: 16px;
    padding-right: 5px;
    background-color: #2e2c25;
    color: #ffffff;
    border: 2px solid #2e2c25;
    border-radius: 0 20px 20px 0;
    outline: none;
    transition: 0.1s all linear;
}

#search-button-index:active {
    background-color: #7f7f7f;
    border: 2px solid #7f7f7f;
    transition: 0.1s all linear;
}

footer {
    color: #ffffff;
}