* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family:'BentonSans';
    src: url('../assets/fonts/bentonsans.otf') format('opentype');
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h2 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h3 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

ul {
    list-style-type: none;
}

/* header and nav */

#header-container {
    background-color: pink;
    display: flex;
    /* height: 110px; */
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 180px;
}

nav {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    background-color: yellow;
}

.profile-header-ul {
    display: flex;
    position: relative;
}

.nav-li {
    margin-left: 40px;
}

.drop-down-content {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 20px 0;
    display: none;
    background-color: purple;
}

.nav-li:hover .drop-down-content {
    display: block;
}

#user-name-display {
    cursor: pointer;
}