* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family:'BentonSans';
    src: url('../assets/fonts/bentonsans.otf') format('opentype');
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h2 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h3 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

ul {
    list-style-type: none;
}

/* header and nav */

#header-container {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 180px;
}

nav {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.profile-header-ul {
    display: flex;
    position: relative;
}

.nav-li {
    margin-left: 40px;
}

.drop-down-content {
    position: absolute;
    right: 1px;
    top: 20px;
    display: none;
}

.drop-down-content {
    padding: 20px 0;
}

.drop-down-content li {
    padding: 0 0 20px 0;
    text-align: right;
}

.nav-li:hover .drop-down-content {
    display: block;
}

#user-name-display, #log-out {
    cursor: pointer;
}

nav a:hover, nav span:hover {
    color: pink;
}