* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family:'BentonSans';
    src: url('../assets/fonts/bentonsans.otf') format('opentype');
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h2 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}

h3 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
}