* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../assets/backgrounds/white-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

@font-face{
    font-family:'BentonSans';
    src: url('../assets/fonts/bentonsans.otf') format('opentype');
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #2e2c25;
}

h1 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    letter-spacing: .1em;
}

h2 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    letter-spacing: .1em;
}

h3 {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    letter-spacing: .1em;
}

ul {
    list-style-type: none;
}

a {
    color: #2e2c25;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#library-icon, #wishlist-icon {
    cursor: pointer;
    height: 24px;
    margin-left: 5px;
}

/* #content-container-common {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 130px);
    justify-content: space-between;
} */

footer {
    /* position: relative;
    bottom: 10px; */
    font-size: 10px;
    text-align: center;
    padding: 0 0 20px 0;
}

/* header and nav */

#header-container {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 240px;
}

nav {
    font-family: 'BentonSans', 'Gil Sans', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s all linear;
}

.profile-header-ul {
    display: flex;
    align-items: center;
    position: relative;

}

.nav-li {
    margin-left: 40px;
}

.nav-line-break {
    border: 1.5px solid #ffffff;
    height: 27px;
    margin: 5px;
    font-size: 30px;
    position: relative;
    left: 20px;
    bottom: 2px;
    user-select: none;
}

#user-name-display, #log-out {
    cursor: pointer;
}

nav a:hover, nav span:hover {
    color: #d3dfe2;
    transition: 0.2s all linear;
    text-decoration: none;
}