#results-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#result-card {
    margin: 10px 10px;
    width: 580px;
    height: 300px;
    background-color: #f4f4f4;
}

#result-card-image {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#result-card-h2 {
    background-color: #ffffff;
    display: inline-block;
    padding: 5px 15px;
    margin: 15px 0 0 0;
}

#result-card-bottom {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}